.wrapper {
	padding: 12px;
	padding-top: 5px;
	text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    margin-right: 24px;
    margin-bottom: 20px;
    width: 176px;

    h4{
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        color: #B9B9B9;
    }
	&__uvi {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}
	svg {
		transform: rotate(180deg);
	}
	path {
		border: 1px solid #000;
		fill: none;
		stroke: url('#orange-to-pink');
		stroke-linecap: round;
		stroke-width: 8;
		pointer-events: none;
	}
}
.gradient {
	position: relative;
	span {
		position: absolute;
		left: -15px;
		bottom: 20px;
		font-style: normal;
		font-weight: 600;
		font-size: 10px;
		color: #B9B9B9;
		padding-top: 5px;
		width: fit-content;

		&:nth-child(3) {
			left: 10%;
			top: 0%;
			
		}
		&:nth-child(4) {
			left: 130px;
			top: 0%;
			
		}
		&:nth-child(5) {
			left: 160px;
			bottom: 17px;
			
		}
		&:nth-child(6) {
			top: 50%;
			right: -17px;
			display: block;
			margin-right: auto;
			margin-left: auto;
			width: 100%;
			font-size: 30px;
		}
	}
}