.indexbox{
    h4{
        font-style: normal !important;
        font-weight: 400 !important;
        font-size: 36px !important;
        padding-top: 30px !important;
        color: #000 !important;
        span{
            font-size: 14px;
        }
    }
    p{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        padding-top: 25px;
    }
}