.humidity{
    display: flex;
    justify-content: space-between;
    h4{
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        padding-top: 30px;
        color:#000;
        span{
            font-size: 14px;
        }
    }
    p{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        padding-top: 25px;
    }
}