.hight{
    display: flex;
    padding-top: 10px;
    img{
        padding-right: 16px;
        padding-left: 12px;
    }
    p{
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
    }
    
}
.low{
    display: flex;
    padding-top: 16px;
    img{
        padding-right: 16px;
        padding-left: 12px;
    }
    p{
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
    }
}
