.tabcontent{
    display: flex;
    flex-direction: column;

    &__tab{
        padding-top: 32px;
        padding-left: 40px;
        padding-bottom: 0px;
    }

}

.card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 10px;
}
