.up{
    display: flex;
    padding-top: 15px;
    img{
        padding-right: 12px;
    }
}
.down{
    display: flex;
    padding-top: 16px;
    img{
        padding-right: 12px;
    }
}
p{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}