.App {
    display: flex;
    width: 100%;
}

.content {
    display: flex;
}

    

@media (max-width: 1200px) {
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}