.map{
    width: 100%;
    max-width: 272px;
    height: 310px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    top:95px;
    right: 70px;
    margin-left: 10px;
}

@media(max-width:1200px) {
    .map{
        top:10px;
        right: 0;
        display:flex;
        justify-content:center;
        width: 100%;
        max-width: 90%;
        margin-left: 0px;
    }
}
